@import '../../sass/mixins';
@import '../../sass/variables';

.item-details-container {
  @include small {
    padding: $sm-spacing;
    display: flex;
  }

  .details-image-container {
    height: 50vh;
    width: 100%;
    text-align: center;

    @include small {
      width: 480px;
      height: 62vh;
    }

    @include medium {
      height: 680px;
      width: 680px;
      min-width: 680px;
    }
  }

  .item-details-image {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: $border-radius;
  }

  .item-overview-container {
    @include small {
      flex-grow: 1;
      min-width: 200px;
      max-width: 200px;
      margin-left: auto;
      padding-left: $sm-spacing;
    }

    @include medium {
      max-width: 300px;
    }
  }

  .product-status {
    font-size: 13px;
    display: block;
    padding-bottom: $sm-spacing;

    @include medium {
      font-size: 14px;
    }
  }

  .detail-title {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: $sm-spacing;
    display: block;

    @include medium {
      font-size: 24px;
      padding-bottom: $lg-spacing;
    }
  }

  .detail-price {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: $lg-spacing;
    display: block;

    @include small {
      font-size: 30px;
    }

    @include medium {
      font-size: 46px;

      // Smaller font size for bigger numbers
      &.alt {
        font-size: 40px;
      }
    }

    sup {
      font-size: 24px;

      @include small {
        font-size: 22px;
      }

      @include medium {
        font-size: 24px;
      }
    }
  }
}

.description-container {
  padding-top: $lg-spacing;

  @include small {
    padding: $sm-spacing;
  }
  
  @include medium {
    width: 680px;
  }

  .description-title {
    font-size: 24px;
    padding-bottom: $lg-spacing;
    display: block;
  
    @include medium {
      font-size: 28px;
    }
  }

  .description-text {
    white-space: pre-line;
    color: $meli-font-grey;
    font-size: 14px;
    text-align: justify;

    @include medium {
      font-size: 16px;
    }
  }
}
