$background-color: #eeeeee;

$meli-yellow: #ffe600;
$meli-blue: #3483fa;

$meli-font-color: #333333;
$meli-font-grey: #999999;
$meli-font-grey-hl: #666666;

$border-radius: 4px;

$lg-spacing: 32px;
$sm-spacing: 16px;
$xs-spacing: 8px;
