@import '../../sass/variables';

.breadcrumb {
  list-style: none;
  max-width: 1184px;
  padding: $sm-spacing 0;
  margin: 0 auto;
  color: $meli-font-grey;
  font-size: 14px;

  li {
    display: inline;

    &:last-child {
      color: $meli-font-grey-hl;
      font-weight: 700;
    }
  }

  li+li:before {
    padding: 8px;
    content: '>';
    font-weight: normal;
    color: $meli-font-grey;
  }
}
